body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
} 


header{
    text-align: center;
    padding:40px;
    background-color: #a38b8be9;
}

footer{
    text-align: center;
    background-color: #a38b8be9;
    padding: 30px;
}

.container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
    'sidebar products';
    margin: 10px 10px;
    gap: 10px;
}

.sidebar{
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.products{
    grid-area: products;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.product-card{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 2px solid rgba(108, 92, 92, 0.517);
    background-color: rgba(207, 136, 136, 0.814);
}
.product-card p{
    text-align: end;
    padding: 0 15px;
}

.product-card img{
    width: auto;
    height: auto;
    margin-bottom: 10px;
}

aside{
    background-color: rgba(132, 128, 128, 0.574);
}

main{
    background-color: white;

}

.product-card h3{
    margin-bottom: 5px;
}
.product-card button{
    background-color: #a38b8b;
    padding: 5px;
    width: auto;
    border: 1px solid black;
}
.sidebar ul li a{
    color: black;
}
@media (min-width:10px) {body { background-color: #1bd3d6;
}
}

@media (min-width:100px) {body { background-color: #d3d61b;
}
}
@media (min-width:300px) {body { background-color: #d61b57;
}
}
@media (min-width:550px) {body { background-color: #ad1bd6;
}
}
@media (min-width:800px) {body { background-color: #749c2c;
}
}
@media (min-width:1000px) {body { background-color: #2c309c;
}
}
@media (min-width:1100px) {body { background-color: black;
}
}